simulation/testbench0/work/*
simulation/testbench0/vsim.wlf
simulation/testbench0/tcl_stacktrace.txt
simulation/testbench0/wlf*
simulation/testbench1/vsim.wlf
simulation/testbench1/tcl_stacktrace.txt
simulation/testbench1/wlf*
simulation/testbench3/wlf*
simulation/testbench3/work
SORT

verification/scenario0/work/*
verification/scenario0/vsim.wlf
verification/scenario0/tcl_stacktrace.txt
verification/scenario0/wlf*
verification/scenario0/transcript

verification/scenario1/work/*
verification/scenario1/vsim.wlf
verification/scenario1/tcl_stacktrace.txt
verification/scenario1/wlf*
verification/scenario1/transcript
verification/scenario1/run/

verification/scenario2/work/*
verificatsimulation/testbench0/work/*
simulation/testbench0/vsim.wlf
simulation/testbench0/tcl_stacktrace.txt
simulation/testbench0/wlf*
simulation/testbench1/vsim.wlf
simulation/testbench1/tcl_stacktrace.txt
simulation/testbench1/wlf*
simulation/testbench3/wlf*
simulation/testbench3/work
SORT

verification/scenario0/work/*
verification/scenario0/vsim.wlf
verification/scenario0/tcl_stacktrace.txt
verification/scenario0/wlf*
verification/scenario0/transcript

verification/scenario1/work/*
verification/scenario1/vsim.wlf
verification/scenario1/tcl_stacktrace.txt
verification/scenario1/wlf*
verification/scenario1/transcript
verification/scenario1/run/

verification/scenario2/work/*
verification/scenario2/vsim.wlf
verification/scenario2/tcl_stacktrace.txt
verification/scenario2/wlf*
verification/scenario2/transcript

model/build
model/work

simulation/testbench1/work/*
hardware/ip/xcvu37p-fsvh2892-2-e/ddr4_0_ex/ddr4_0_ex.sim/sim_1/behav/questa/questa_lib

hardware/ip
ion/scenario2/vsim.wlf
verification/scenario2/tcl_stacktrace.txt
verification/scenario2/wlf*
verification/scenario2/transcript

model/build
model/work

simulation/testbench1/work/*
hardware/ip/xcvu37p-fsvh2892-2-e/ddr4_0_ex/ddr4_0_ex.sim/sim_1/behav/questa/questa_lib

hardware/ip

hardware/doc/*

hardware/viv2019.1_proj/xcvu37p-fsvh2892-2-e/TCL_Flow/Synth/*

hardware/ip_viv2018.3/*
!hardware/ip_viv2018.3/xczu9eg-ffvb1156-2-e/ip_user_files/*
!hardware/ip_viv2018.3/xczu9eg-ffvb1156-2-e/managed_ip_project/*
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/res_dwc_fifo/res_dwc_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/resdMap_fifo/resdMap_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/trans_eg_meta_fifo/trans_eg_meta_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/trans_eg_pyld_fifo/trans_eg_pyld_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/trans_in_meta_fifo/trans_in_meta_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/trans_in_pyld_fifo/trans_in_pyld_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/conv1x1_dwc_fifo/conv1x1_dwc_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/convMap_fifo/convMap_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/ip_user_files/*
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/job_fetch_fifo/job_fetch_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/krnl1x1_bram/krnl1x1_bram.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/krnl1x1Bias_bram/krnl1x1Bias_bram.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/krnl1x1Bias_dwc_fifo/krnl1x1Bias_dwc_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/managed_ip_project/*
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/outbuf_fifo/outbuf_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/partMap_fifo/partMap_fifo.xci
!hardware/ip_viv2018.3/xcvu37p-fsvh2892-2-e/prevMap_fifo/prevMap_fifo.xci
!hardware/ip_viv2018.3/xczu9eg-ffvb1156-2-e/managed_ip_project/*
!hardware/ip_viv2018.3/xczu9eg-ffvb1156-2-e/ip_user_files/*

hardware/ip_viv2019.1/*
!hardware/ip_viv2019.1/xcku115/managed_ip_project/*
!hardware/ip_viv2019.1/xcku115/pixel_sequence_data_bram/pixel_sequence_data_bram.xci
!hardware/ip_viv2019.1/xcku115/ip_user_files/*

!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/job_fetch_fifo/job_fetch_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/krnl1x1_bram/krnl1x1_bram.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/krnl1x1Bias_bram/krnl1x1Bias_bram.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/krnl1x1Bias_dwc_fifo/krnl1x1Bias_dwc_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/managed_ip_project/*
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/outbuf_fifo/outbuf_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/partMap_fifo/partMap_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/pixel_sequence_data_bram/pixel_sequence_data_bram.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/prevMap_fifo/prevMap_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/res_dwc_fifo/res_dwc_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/resdMap_fifo/resdMap_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/trans_eg_meta_fifo/trans_eg_meta_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/trans_eg_pyld_fifo/trans_eg_pyld_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/trans_in_meta_fifo/trans_in_meta_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/trans_in_pyld_fifo/trans_in_pyld_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/clk_wiz/clk_wiz.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/conv1x1_dwc_fifo/conv1x1_dwc_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/convMap_fifo/convMap_fifo.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/ddr4/ddr4.xci
!hardware/ip_viv2019.1/xcvu37p-fsvh2892-2-e/ip_user_files/*


hardware/ip_viv2020.1/*




