simulation/testbench0/work/*
simulation/testbench0/vsim.wlf
simulation/testbench0/tcl_stacktrace.txt
simulation/testbench0/wlf*
simulation/testbench1/vsim.wlf
simulation/testbench1/tcl_stacktrace.txt
simulation/testbench1/wlf*
simulation/testbench3/wlf*
simulation/testbench3/work
SORT

verification/scenario0/work/*
verification/scenario0/vsim.wlf
verification/scenario0/tcl_stacktrace.txt
verification/scenario0/wlf*
verification/scenario0/transcript

verification/scenario1/work/*
verification/scenario1/vsim.wlf
verification/scenario1/tcl_stacktrace.txt
verification/scenario1/wlf*
verification/scenario1/transcript
verification/scenario1/run/

verification/scenario2/work/*
verification/scenario2/vsim.wlf
verification/scenario2/tcl_stacktrace.txt
verification/scenario2/wlf*
verification/scenario2/transcript

model/build
model/work

simulation/testbench1/work/*
hardware\ip\xcvu37p-fsvh2892-2-e\ddr4_0_ex\ddr4_0_ex.sim\sim_1\behav\questa\questa_lib
